absl-py==2.1.0
accelerate==0.26.1
addict==2.4.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.8
aiohttp-cors==0.7.0
aiolimiter==1.1.0
aioopenssl==0.6.0
aiosasl==0.5.0
aiosignal==1.3.1
aioxmpp==0.13.3
airportsdata==20241001
albumentations==1.4.7
alembic==1.14.0
alpaca-py==0.33.0
alright==2.61
altair==5.3.0
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.25.7
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.4.0
anytree==2.12.1
APScheduler==3.11.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asteroid-filterbanks==0.4.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==5.0.1
attrs==23.2.0
audioread==3.0.1
Authlib==1.3.2
autograd==1.6.2
av==11.0.0
azure-cognitiveservices-speech==1.38.0
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
azure-search-documents==11.4.0
azure-storage-blob==12.20.0
Babel==2.14.0
backoff==2.2.1
bangla==0.0.2
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
bidict==0.23.1
bitarray==3.0.0
bitstring==4.3.0
black==24.8.0
blake3==1.0.4
blinker==1.8.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.35.53
botocore==1.35.72
braceexpand==0.1.7
Brotli==1.1.0
build==1.2.2.post1
buildozer==1.5.0
buku==4.9
cachetools==5.3.3
catalogue==2.0.10
cattrs==23.2.3
certifi==2024.8.30
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.15
click==8.1.7
clipboard==0.0.4
cloudpathlib==0.16.0
cloudpickle==3.0.0
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
colorful==0.5.6
colorlog==6.9.0
comm==0.2.2
compressed-rtf==1.0.6
compressed-tensors==0.8.1
comtypes==1.4.2
confection==0.1.4
ConfigArgParse==1.7
contourpy==1.2.1
coqpit==0.0.17
coqui-tts==0.24.1
coqui-tts-trainer==0.1.4
cramjam==2.8.3
cryptography==42.0.8
csvw==3.5.1
ctc-forced-aligner @ git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git@abd458dd879305566cd4ed0c8624c95f22e3126a
ctranslate2==4.3.1
customtkinter==5.2.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
darkdetect==0.8.0
dask==2024.6.2
dask-expr==1.1.6
dataclasses-json==0.6.7
datasets==3.1.0
datashaper==0.0.49
dateparser==1.1.8
DateTime==5.5
decorator==4.4.2
deep-translator==1.11.4
deepmultilingualpunctuation @ git+https://github.com/oliverguhr/deepmultilingualpunctuation.git@5a0dd7f4fd56687f59405aa8eba1144393d8b74b
defusedxml==0.7.1
demucs @ git+https://github.com/adefossez/demucs.git@b9ab48cad45976ba42b2ff17b229c071f0df9390
Deprecated==1.2.14
deprecation==2.1.0
depyf==0.18.0
devtools==0.12.2
diff-match-patch==20230430
diffusers==0.27.2
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
Distance==0.1.3
distlib==0.3.8
distro==1.9.0
Django==5.0.6
dlinfo==2.0.0
dnspython==2.6.1
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.21.2
docx2txt==0.8
dora_search==0.1.12
downloader-cli==0.3.4
duckduckgo_search==6.3.7
durationpy==0.9
easydict==1.13
easygui==0.98.3
ebcdic==1.1.1
EbookLib==0.19
ecdsa==0.19.0
editdistance==0.8.1
einops==0.8.0
elevate==0.1.3
elevenlabs==1.5.0
email_validator==2.1.1
emoji==2.8.0
encodec==0.1.1
environs==11.0.0
espeakng-loader==0.2.4
esptool==4.8.1
et_xmlfile==2.0.0
eval_type_backport==0.2.0
Events==0.5
executing==2.0.1
extract-msg==0.52.0
fake-useragent==1.5.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi-login==1.10.0
faster-whisper==1.0.3
fastparquet==2024.5.0
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.17.0
filetype==1.2.0
firecrawl-py==0.0.14
flake8==7.1.0
Flask==2.3.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.51.0
fpdf2==2.7.9
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.3
future==0.18.3
g2p-en==2.1.0
g2pkk==0.1.2
gast==0.4.0
gcalcli==4.3.0
gdown==5.2.0
gensim==4.3.2
gguf==0.10.0
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.136.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.7.2
google-oauth==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
googlemaps==4.10.0
GPUtil==1.4.0
graphrag==0.1.1
graspologic==3.4.1
graspologic-native==1.2.1
greenlet==3.0.3
grep-ast==0.3.2
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.62.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gTTS==2.5.2
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hangul-romanize==0.1.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.28.0
humanfriendly==10.0
hydra-core==1.2.0
hyperframe==6.0.1
HyperPyYAML==1.2.2
hyppo==0.4.0
icalendar==5.0.12
idna==3.10
ifaddr==0.2.0
imageio==2.34.1
imageio-ffmpeg==0.5.1
IMAPClient==3.0.1
importlib_metadata==7.2.1
importlib_resources==6.4.0
inflect==7.2.1
iniconfig==2.0.0
insightface==0.7.3
intel-openmp==2021.4.0
intelhex==2.3.0
interegular==0.3.3
ipython==8.24.0
ipywidgets==8.1.3
isodate==0.6.1
isort==5.13.2
itsdangerous==2.2.0
itunespy==1.6.1
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.2
jiwer==3.0.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyterlab_widgets==3.0.11
kaldi-python-io==1.2.2
kaldiio==2.18.0
keras==3.3.3
keyboard==0.13.5
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
kokoro-onnx==0.4.7
kubernetes==31.0.0
lameenc==1.7.0
lancedb==0.9.0
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.21
langchain-text-splitters==0.3.2
langcodes==3.4.0
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
language-tags==1.2.0
language_data==1.2.0
lark==1.2.2
lazy_loader==0.4
ldap3==2.9.1
Levenshtein==0.25.1
libclang==18.1.1
librespot==0.0.9
librosa==0.10.2.post1
lightning==2.3.3
lightning-utilities==0.11.6
linkedin_api==2.1.1
linkify-it-py==2.0.3
listdiff==1.0.2
litellm==1.41.6
llama-cloud==0.0.6
llama-index-core==0.10.52.post2
llama-index-embeddings-huggingface==0.2.2
llvmlite==0.43.0
lm-format-enforcer==0.10.9
lmdb==1.4.1
locket==1.0.0
loguru==0.7.2
loosejson==1.0.3
lxml==4.9.4
Mako==1.3.5
mando==0.7.1
marisa-trie==1.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
minijinja==2.0.1
mistral_common==1.5.2
mkl==2021.4.0
ml-dtypes==0.3.2
mmh3==5.0.1
monotonic==1.6
more-itertools==10.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msal==1.29.0
msal-extensions==1.2.0
msgpack==1.0.8
msgspec==0.19.0
msoffcrypto-tool==5.4.2
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
music-tag==0.4.3
musicbrainzngs==0.7.1
mutagen==1.47.0
mypy==1.13.0
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.4.0
mysqlclient==2.2.4
namex==0.0.8
nemo-toolkit==1.20.0
nest-asyncio==1.6.0
networkx==2.8.8
ninja==1.11.1.2
nltk==3.9.1
num2words==0.5.13
numba==0.60.0
numpy==2.2.4
nvidia-ml-py==12.570.86
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
ollama==0.2.1
omegaconf==2.2.3
onnx==1.16.0
onnxruntime==1.21.0
onnxruntime-gpu==1.15.1
open-webui==0.4.7
openai==1.60.2
openai-whisper==20231117
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.4
opennsfw2==0.13.7
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
openunmix==1.3.0
openwakeword==0.6.0
opt-einsum==3.3.0
optree==0.11.0
optuna==3.6.1
orjson==3.10.3
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==23.2
pandas==2.2.3
parsedatetime==2.6
parso==0.8.4
partd==1.4.2
partial-json-parser==0.2.1.1.post5
partialjson==0.0.7
passlib==1.7.4
pathspec==0.12.1
patsy==0.5.6
pcodedmp==1.2.6
peewee==3.17.6
peewee-migrate==1.12.2
pefile==2023.2.7
pexpect==4.9.0
pgvector==0.3.5
phonemizer-fork==3.3.1
pick==2.2.0
pika==1.3.2
pillow==11.2.1
pillow_heif==0.16.0
pip-upgrader==1.4.15
pkcs7==0.1.2
plac==1.4.3
platformdirs==4.2.2
playwright==1.45.0
pluggy==1.5.0
plyer==2.1.0
pocket==0.3.6
pooch==1.8.1
portalocker==2.10.0
posthog==3.7.4
POT==0.9.4
preshed==3.0.9
prettytable==3.10.0
primePy==1.3
primp==0.8.1
proglog==0.1.10
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
prompt-toolkit==3.0.43
propcache==0.2.1
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pur==7.3.1
pure-eval==0.2.2
pushbullet.py==0.12.0
pvcobra==1.2.2
pvorca==0.2.2
pvporcupine==3.0.2
pvrecorder==1.2.2
py==1.11.0
py-cpuinfo==9.0.0
py-spy==0.4.0
pyaml-env==1.2.1
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pybind11==2.13.1
pyclipper==1.3.0.post6
pycodestyle==2.12.0
pycountry==22.3.5
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
pyDes==2.0.1
pydoro==0.2.3
pydub==0.25.1
pyee==11.1.0
pyflakes==3.2.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyhidapi==1.0.0
PyHotKey==1.5.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.9.0
pylance==0.13.0
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
pynndescent==0.5.12
pynput==1.7.6
PyOgg==0.6.14a1
pyOpenSSL==24.1.0
PyP100 @ git+https://github.com/almottier/TapoP100.git@f6326a5548c8ce79aacf7b69d01fdad909e1ce05
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.3.1
pyperclip==1.9.0
PyPika==0.48.9
pypinyin==0.51.0
pypiwin32==223
pypng==0.20220715.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pyreadline3==3.4.1
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==0.1.30
pyserial==3.5
PySide6-Essentials==6.6.1
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.3.4
pytest-docker==3.1.1
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-iso639==2024.10.22
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
pytorch-lightning==1.9.4
pytorch-metric-learning==2.6.0
pyttsx3==2.90
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
pyusb==1.2.1
pywin32==306
pywin32-ctypes==0.2.2
pywinauto==0.6.8
pyxdg==0.28
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==26.2.1
qdrant-client==1.12.1
qrcode==7.4.2
radon==6.0.1
rank-bm25==0.2.2
rapidfuzz==3.9.5
rapidocr-onnxruntime==1.3.24
ratelimiter==1.2.0.post0
ray==2.41.0
rdflib==7.1.4
RealTimeTTS==0.4.5
red-black-tree-mod==1.20
redis==5.0.7
reedsolo==1.7.0
referencing==0.35.1
regex==2024.5.15
renaiming @ git+https://github.com/thomashirtz/renaiming@c9c6b7ae64d849d6a91a9e2813b61d79a2e5ac68
requests==2.32.3
requests-cache==1.2.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
retry==0.9.2
retry-requests==2.0.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
RTFDE==0.1.2
rtmilk @ git+https://github.com/BenjaminKobjolke/rtmilk.git@8fd8836e58f9542aee4fc22287d1c59a9942e9fc
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.4
sacremoses==0.1.1
safetensors==0.4.3
schedule==1.2.2
scikit-image==0.23.2
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
segments==2.3.0
selenium==4.21.0
semver==3.0.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==2.12.0
setproctitle==1.3.3
sh==2.0.7
shapely==2.0.6
shellingham==1.5.4
shiboken6==6.6.1
simber==0.2.6
simple-websocket==1.1.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcollections==2.1.0
sortedcontainers==2.4.0
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.5
sox==1.5.0
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==0.5.16
speechlib==1.1.2
spotify-dlx==0.2.0
spotipy==2.24.0
SQLAlchemy==2.0.25
sqlparse==0.5.0
srsly==2.4.8
srt==3.5.3
sseclient-py==1.8.0
stack-data==0.6.3
stanza==1.6.1
starlette==0.37.2
statsmodels==0.14.2
stream2sentence==0.2.5
streamlit==1.36.0
submitit==1.5.1
SudachiDict-core==20240409
SudachiPy==0.6.8
swifter==1.4.0
sympy==1.13.1
system-info==2.0.0
systeminfo-python3==0.1.1
tabulate==0.9.0
tb-nightly==2.17.0a20240520
tbb==2021.12.0
tenacity==8.4.2
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-estimator==2.13.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminaltables==3.1.10
text-unidecode==1.3
text2datetime==1.0.1
texterrors==0.5.1
textual==0.70.0
thinc==8.2.3
threadpoolctl==3.5.0
tifffile==2024.5.10
tiktoken==0.7.0
tk==0.1.0
tkinterdnd2==0.3.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.5.1+cu124
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.1.2
torchmetrics==1.4.0.post0
torchvision==0.20.1+cu124
tornado==6.4.1
tqdm==4.66.4
trainer==0.0.36
traitlets==5.14.3
transformers==4.48.1
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
treetable==0.2.5
trio==0.25.1
trio-websocket==0.11.1
ttkbootstrap==1.10.1
TTS==0.22.0
txt2epub==1.3.0
typeguard==4.3.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
umap-learn==0.5.6
undetected-chromedriver==3.5.5
Unidecode==1.3.8
unstructured==0.15.9
unstructured-client==0.28.1
uritemplate==4.1.1
uritools==4.0.3
url-normalize==1.4.3
urlextract==1.9.0
urllib3==2.2.2
uvicorn==0.30.6
validators==0.33.0
virtualenv==20.26.4
VisioNomicon==0.1.7
vllm==0.6.6
wandb==0.17.5
wasabi==1.1.2
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.3.4
webdataset==0.1.62
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websocket-server==0.6.4
websockets==12.0
Werkzeug==2.3.7
wget==3.2
whisperx @ git+https://github.com/m-bain/whisperX.git@78dcfaab51005aa703ee21375f81ed31bc248560
widgetsnbextension==4.0.11
wikipedia==1.4.0
win-unicode-console==0.5
win32-setctime==1.1.0
windows-curses==2.3.2
winshell==0.6
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.5.0
yapf==0.40.2
yarl==1.18.3
yaspin==3.0.2
youtokentome==1.0.6
youtube-search-python==1.6.6
youtube-transcript-api==1.0.2
yt-dlp==2025.4.30
ytmdl==2024.8.15.1
ytmusicapi==1.10.2
zeroconf==0.132.2
zipp==3.18.2
zope.interface==6.4.post2
